/* General */
/* #root {
    width: 95%; 
    margin: 0 auto;
} */

/* Login/Register */
.account-form {
    text-align: center;
}

.account-form form * {
    display: block;
    margin: auto;
}

.account-form form input, .account-form form button {
    margin-bottom: 1rem;
}

.account-form button {
    display: inline;
    margin: 0 1rem;
}

.invalid-login {
    color: red;
}

/* Navigation */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    margin: 1rem;
    text-align: center;
  }
  
  .site-title{
    font-size: 2rem;
  }
  
  .nav {
    background-color: blue;
    color: ghostwhite;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap :2rem;
    padding: 0 1rem;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a{
    color:inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
  }
  
  .nav li.active{
    background-color: darkblue;
  }
  
  .nav li:hover{
    background-color: black;
  }

  div.pageStyle > * {
    text-align: center;
  }