/* General */
/* #root {
    width: 95%; 
    margin: 0 auto;
} */

html body {

  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    white 0%,
    black 40%
  );

  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  
} 

/* Login/Register */
.account-form {
    text-align: center;
}

.account-form form * {
    display: block;
    margin: auto;
}

.account-form form input, .account-form form button {
    margin-bottom: 1rem;
}

.account-form button {
    display: inline;
    margin: 0 1rem;
}

.invalid-login {
    color: red;
}

/* Navigation */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    margin: 1rem;
    text-align: center;
  }
  
  .site-title{
    font-size: 2rem;
  }
  
  .nav {
    background-color: blue;
    color: ghostwhite;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap :2rem;
    padding: 0 1rem;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a{
    color:inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
  }
  
  .nav li.active{
    background-color: darkblue;
  }
  
  .nav li:hover{
    background-color: black;
  }

  div.pageStyle > * {
    text-align: center;
    margin-top: 0;
  }

  
/* CSS for home page title */
  .perspective-text {
    color: white;
    font-family: Arial;
    font-size: 58px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
  }
  
  .perspective-line {
    height: 50px;
    overflow: hidden;
    position:relative;

  }
  
  p {
    margin: 0;
    height: 50px;
    line-height: 50px;
    transition: all 0.5s ease-in-out;
  }
  
  .perspective-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.8);
  }
  
  .perspective-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.337);
  }
  
  .perspective-text:hover p {
    transform: translate(0, -50px);
  }
  
  .perspective-line:nth-child(1) {
    left: 29px;
  }
  
  .perspective-line:nth-child(2) {
    left: 58px;
    background: #f07e6e;
  }
  
  .perspective-line:nth-child(3) {
    left: 87px;
    background: #84cdfa;
  }
  
  .perspective-line:nth-child(4) {
    left: 116px;
    background: #5ad1cd;
  }
  
  .perspective-line:nth-child(5) {
    left: 145px;
  }
  
  div.coolTitle > *{
    padding-top: 250px;
    padding-right: 100px;
    margin-left: -120px;
    margin-right: 0px;
    z-index: -999;

  }

  div.navigationBar > * {
    z-index: 999;
  }

  