/* General */
#root {
    width: 95%;
    margin: 0 auto;
}

/* Login */
#login {
    text-align: center;
}

#login form * {
    display: block;
    margin: auto;
}

#login form input, #login form button {
    margin-bottom: 1rem;
}